<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Меню</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Главная</a>
        {% for page in site.pages %}
        {% if page.title %}
        {% unless page.exclude %}
        <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endunless %}      
        {% endif %}
        {% endfor %}
    </nav>
</div>

<style>
.mdl-layout__drawer {
    background-color: #1CAAF2;
    color: white;
    border-right: 0px solid #9263BF;
}

.mdl-layout__drawer>.mdl-layout__title, .mdl-layout__drawer>.mdl-layout-title {
    display: none;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: white;
}
.mdl-layout__drawer:hover .mdl-navigation:hover .mdl-navigation__link:hover {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #A5459D;
    font-size: 1.2em;
}
</style>