footer {
  footer.mdl-mini-footer {
    background-color: rgb(12, 26, 103);
    flex-shrink: 0;
    min-height: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
  }
  .mdl-mini-footer__link-list {
    & a {
      cursor: pointer;
      transition: color .2s ease-in;
      &:hover {
        color: #fff;
      }
    }
  }

  div.Telegram {
    width:10%;
    height: 15%;
  }
  button#Telegram {
    display:inline-block;
    background-color: inherit;
    border: solid #1CAAF2;
    border-radius: 50%;
    width: 86px;
    height: 86px;
    min-height: 80px;
    color: white;
  }
  button#Telegram:hover {
    -webkit-transition: all 0.3s;
    background-color: #227ed4ce;
  }

  .copyright {
    margin-top: $spacing-unit;
  }
  
}

