.post {
  background: #424242;
  padding: $spacing-unit/2;
  margin: $spacing-unit/2 0 $spacing-unit/2 0;
}
.mdl-shadow--2dp {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 3px 1px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
}

